# Ignore backup and autosave files
*.bak
*.kicad_sch-bak
*.kicad_pcb-bak
*.autosave

# Ignore KiCad cache files
*.kicad_prl
*.kicad_pcb-bak
fp-info-cache

# Ignore output files
*.gbr
*.drl
*.csv
*.pos
*.log
*.net
*.gtl
*.gbl
*.gts
*.gbs
*.gm1
*.gko

# Ignore personal settings
*.pro

